/*
https://fonts.google.com/specimen/Montserrat
https://fonts.google.com/specimen/Source+Sans+Pro
https://fonts.google.com/specimen/Raleway?selection.family=Raleway
*/

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(fonts/Raleway-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(fonts/Raleway.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
 * normalize
 */

* {
  /* feelsgoodman */
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

h1, h2, h3, h4 { margin: 0; }
h1 { font-size: 2em; }

body {
  width: 400px;
  padding: 1em;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: hsl(0, 0%, 10%); /* important QoL */
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
}


.app {
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 10%);

  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/*
 * utils
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
 * lyrics
 */

.lyrics-viewer {
  padding: 10px;
  margin-top: 5px;
  font-size: 1.1rem;
  overflow-y: auto;
  max-height: 300px;
  line-height: 1.4rem;
}

.lyrics-viewer--loading {
  height: 200px;
  padding: 65px 150px;
}

.lyrics-viewer--err {
  text-align: center;
  line-height: 200px;
  padding: 0 50px;
}

.lyrics-viewer--err-msg {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.lyrics-line {
  display: block;
  text-align: center;
  /* spacing between verses - normally empty row with no content */
  min-height: 0.9rem;
}
.lyrics-line:last-child { margin-bottom: 10px; }

/*
 * songHeader
 */
.songHeader {}

.songHeader__albumArt {
  float: left;
  width: 64px;
  height: 64px;
}
.songHeader__loader { padding: 10px; }

.songHeader__albumArt_youTube { padding-top: 10px; }

.songHeader__Text {
  margin-left: 64px; /* eq to albumArt width */
  padding-left: 5px;
}

.songHeader__Title {
  display: block;
  font-size: 25px;
  padding-top: 5px;
}
.songHeader-yt .songHeader__Title { font-size: 15px; padding-top: 24px; }

.songHeader__Artist {
  padding-top: 6px;
}
.songHeader-yt .songHeader__Artist { display: none; }

/*
 * toolbar
 */
.toolbar {
  width: 100%;
  padding: 5px 5px 2px 5px;
  background-color: hsl(0, 0%, 16%);
  border-bottom: 1px solid #353535;
}

.toolbar__left {
  float: left;
}

.toolbar__right {
  float: right;
}

.toolbar_btn {
  padding: 3px;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.3s;
}
.toolbar_active   { opacity: 1.0; }
.toolbar_inactive { opacity: 0.6; }
.toolbar_btn:hover:not(.toolbar_active) {
  opacity: 0.9;
}

.toolbar_btn:first-child {
  margin-left: 0px;
}

/* https://genius.com/discussions/143413-New-logo
   https://www.dropbox.com/s/bcpdyro4u6cf2dl/Genius_VisualIdentityGuidelines.pdf?dl=0
   Genius does not have branding page. How tf is it still a company?!
*/
.toolbar_btn.toolbar_youtube { max-height: 25px; padding: 0; }
.toolbar_btn.toolbar_youtube svg { height: 25px; }
.toolbar_google { background: #4885ed; }
.toolbar_google svg { fill: white; }
.toolbar_genius { background: rgb(255, 255, 100); color: black; }
.toolbar_musixmatch { background: white; }

/*
 * loader
 */
.loader {
	position: relative;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 2px;
	width: 100%;
  height: 100%;
}

.loader > div {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 90%);
  transform: scale(0.0);
  transform-origin: center center;
  animation: loader 1.5s infinite linear;
}

.loader > div:nth-of-type(7) {}

.loader > div:nth-of-type(1),
.loader > div:nth-of-type(5),
.loader > div:nth-of-type(9) {
  animation-delay: 0.4s;
}

.loader > div:nth-of-type(4),
.loader > div:nth-of-type(8) {
  animation-delay: 0.2s;
}

.loader > div:nth-of-type(2),
.loader > div:nth-of-type(6) {
  animation-delay: 0.6s;
}

.loader > div:nth-of-type(3) {
  animation-delay: 0.8s;
}

@keyframes loader {
	0%   { transform: scale(0.0); }
	40%  { transform: scale(1.0); }
	80%  { transform: scale(1.0); }
	100% { transform: scale(0.0); }
}